<div style="display: flex; flex-direction: row;">
    <div class="colum rules-container" style="width: 100cqw;height: 100cqh;">
        <app-rules-view class="shadow" style="padding-right: .25rem; width: 100cqw;height: 100cqh; display: flex; flex-direction: column;"></app-rules-view>
    </div>
    <div class="colum frequenzy-container" style="width: 100cqw;height: 100cqh;">
        <app-frequenzy-view class="shadow" style="padding-left: .25rem;  width: 100cqw;height: 100cqh; display: flex; flex-direction: column;"></app-frequenzy-view>
    </div>
  </div>