<div style="flex-grow: 1; background-color: #d6c7c7;overflow:auto;">

    <div style=" background-color: #b88c8c;;box-shadow: 0rem 0rem 0.5rem 0.1rem black;">
        <app-file-manipulation></app-file-manipulation>
    </div>

    <div [class.loading]="isLoading">
        <div *ngFor="let frequenzy of frequencies">
            <app-frequenzy-element *ngIf="!isLoading" [frequenzy]="frequenzy"></app-frequenzy-element>
        </div>

        <div *ngIf="!frequencies || frequencies.length < 1">
            <h1 *ngIf="currentText.length < 1" style="text-align: center;">Select a PDF...</h1>
            <h1 *ngIf="currentText.length > 0" style="text-align: center;">No pattern match found...</h1>
        </div>
    </div>
    
</div>